.imgcontainer{
	width: 70%;
	height: 80%;
	margin: 5% auto;
	box-shadow: 2px 2px 5px green,-2px -2px 5px green;
}
.imgcontainer img{
	width: 100%;
	height: 90%;
}
.imgcontainer .caption
{
	padding: 5px;
	background-color: #ccc;
}
@media screen and (max-width: 1000px)
{
	.imgcontainer{
	width: 80%;
	height: 75%;
	margin: 10% auto;
	box-shadow: 2px 2px 5px green,-2px -2px 5px green;
    }
    .imgcontainer img{
	width: 100%;
	height: 90%;
}
}
@media screen and (max-width: 768px)
{
	.imgcontainer{
	width: 90%;
	height: 75%;
	margin: 6% auto;
	box-shadow: 2px 2px 5px green,-2px -2px 5px green;
    }
    .imgcontainer img{
	width: 100%;
	height: 90%;
}
}

.image
{ 
    cursor: pointer;
 }

.image:hover
 {
 	opacity: 0.7;
 }

 .box
 {
 	display:none;
 	position:fixed;
 	z-index: 100;
 	padding-top: 100px;
 	left: 0;
 	top:0;
 	width: 100%;
 	height:100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);

 }


 .box-content 
 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#text
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close 
{
    position: absolute;
    top: 15px;
    right: 35px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus 
{
    color:white ;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px)
{
    .box-content 
    {
        width: 100%;
    }
}