   .formitem{
              padding: 10px;
              margin-bottom: 30px !important;
              height: 635px;
              color: #000;
              background-color:#fff; 
              border-radius: 5px;
            }
   .title ul li{
            position: relative;
            display: inline-block;
            padding: 6px 5px;
           }
           .title ul li a{
            text-decoration: none;
            color: blue;
            padding-left;
            font-size:1.3em;
           }
           .title ul li a:hover{
            color: green;
           }
           .ltitle{
              text-align: center;
              font-size: 2em;
              color: #fff;
              text-shadow: 0px 0px 3px blue;
            }

           hr{
           	background-color:#ffcc00;
           }
           #message{
           	box-shadow: 2px 2px 5px #ffcc00,-2px -2px 5px #ffcc00;
           	border-radius: 5px;
           	height: 200px;
           }
           .sendbtn{
           	margin-top: 20px;
           }

           #mainevent ul li{
             display: block;
             font-size: 1em;

           }
           #subevent ul li{
            display: block;
            font-size: 1.3em;
           }
           .fbutton{
            margin-top: 20px;
           }
           .inputf{
              border-style: none;
              border-bottom: 1px solid blue;
              outline: none;
            }