body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
#particles-js{
	width: 100%;
	min-height: 100%;
	color: #fff;
	position: absolute;
	max-height: 1500px;
	background-size: cover;
}
.allcontent{
	position: absolute;
	width: 100%;
	min-height: 100%;
	max-height: 1500px;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}
